
<div ng-controller="PageCtrl">
  <div id="about" scroll-spy="scroll-spy" parallax="0.3" page="1" class="section background-about">
    <div class="centered darkenBox">
      <div class="container">
        <div class="row darkenBox">
          <div class="row">
            <div class="span4">
              <h1>czym jest Jinkubator?</h1>
              <p>Są to cykliczne spotkania dla początkujących programistów Javy. Odbywają się one<b> w budynku Wydziału MiNI Politechniki Warszawskiej na ulicy Koszykowej 75 w Warszawie, w godzinach 18:15-20:15.</b></p>
            </div>
            <div class="span4">
              <h1>dla kogo?</h1>
              <p>Dla wszystkich początkujących. W szczególności tych, którzy potrafią już napisać prostą aplikację w Javie, nie boją się pojęć polimorfizm i dziedziczenie, jednak nie znają technologii, bibliotek i okolic Javy. Dla wszystkich, którzy chcą tworzyć <b>dobry </b>kod.</p>
            </div>
            <div class="span4">
              <h1>chcesz zostać prelegentem?</h1>
              <p>To świetnie! Ciągle poszukujemy prelegentów na nadchodzące spotkania. Jeżeli czujesz się na siłach to  <a href="#/prelegents">tutaj </a>są szczegóły. </p>
            </div>
          </div>
          <div class="row">
            <div class="span6">
              <h1>kim jesteśmy</h1>
              <p>Jesteśmy inicjatywą stworzoną i prowadzoną przez <a href="http://www.warszawa.jug.pl">Warszawa JUG</a> specjalnie dla osób, które nie zebrały jeszcze dużego doświadczenia w Javie, a chciałyby mieć łatwiejszy start na rynku pracy lub po prostu poznać aktualnie używane technologie w trochę szerszym kontekście. Jeżeli tylko spodobał Ci się temat najbliższego spotkania to zapraszamy!</p>
            </div>
            <div class="span6">
              <h1>najbliższe spotkanie</h1>
              <h3> <a href="#/meeting/19">19. TDD</a> -  <a href="#/prelegents/adam_pierzchala">Adam Pierzchała</a></h3>
              <p>Termin: 4.11.2014 godz. 18:00, Lokalizacja: MiNI PW</p>
            </div>
          </div>
        </div>
        <div class="row fixedHeight"></div>
        <div class="row darkenBox">     
          <div class="row otherLogos">
            <div class="span4">
              <h1>chcesz więcej?</h1>
              <div class="row">
                <div class="span2"><a href="http://warszawa.jug.pl" target="_blank"><img src="img/partners/wjug.png"/></a></div>
              </div>
            </div>
            <div class="span7">
              <h1>nie tylko java?</h1>
              <div class="row">
                <div class="span3"><a href="http://pywaw.org" target="_blank"><img src="img/partners/otherGroups/pywaw.png" class="otherLogo"/></a></div>
                <div class="span3"><a href="http://agilewarsaw.com" target="_blank"><img src="img/partners/otherGroups/agile_warsaw.png" class="otherLogo"/></a></div>
              </div>
              <div class="row">
                <div class="span3"><a href="http://scalania.pl" target="_blank" id="scalania" class="text-center">Scalania</a></div>
                <div class="span3"><a href="http://mobile-warsaw.pl" target="_blank"><img src="img/partners/otherGroups/mobile_warsaw.png"/></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="meetings" scroll-spy="scroll-spy" page="1" class="section background-meetings">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h1>spotkania</h1>
            <p>Aby być na bieżąco, zasubskrybuj nasz<a href="http://www.google.com/calendar/render?cid=7dmp09fjl82d57m3dgu4gj020g@group.calendar.google.com"> kalendarz</a> (wspólny z warszawskim JUGiem).</p>
            <h3>Przed nami: </h3>
            <p>4.11.2014 -  <a href="#/meeting/19">19. TDD</a> -  <a href="#/prelegents/adam_pierzchala">Adam Pierzchała</a></p>
          </div>
        </div>
        <div class="row">
          <div class="span12">
            <h3>Za nami:</h3>
            <p>21.10.2014 - <a href="#/meeting/18">18. Maven i Gradle</a> -  <a href="#/prelegents/pawel_cesar_sanjuan_szklarz">Paweł Cesar Sanjuan Szklarz</a>,  <a href="#/prelegents/dawid_kublik">Dawid Kublik</a></p>
            <p>24.06.2014 - <a href="#/meeting/17">17. Spock - przyjemne testowanie</a> -  <a href="#/prelegents/dominik_przybysz">Dominik Przybysz</a></p>
            <p>01.07.2014 - Walne spotkanie WJUG - wszyscy zainteresowani</p>
            <p>11.06.2014 - <a href="#/meeting/16">16. Injectowanie od zera - wprowadzenie do Guice</a> -  <a href="#/prelegents/pawel_cesar_sanjuan_szklarz">Paweł Cesar Sanjuan Szklarz</a></p>
            <p>27.05.2014 - <a href="#/meeting/15">15. Monitorowanie aplikacji</a> -  <a href="#/prelegents/tomasz_nurkiewicz">Tomasz Nurkiewicz</a></p>
            <p>13.05.2014 - <a href="#/meeting/14">14. A journey in MongoDB land</a> -  <a href="#/prelegents/tugdual_grall">Tugdual Grall</a></p>
            <p>29.04.2014 - <a href="#/meeting/13">13. JPA 2.0 cz. II</a> -  <a href="#/prelegents/rafal_nagrodzki">Rafał Nagrodzki</a></p>
            <p>15.04.2014 - <a href="#/meeting/12">12. Code metrics</a> -  <a href="#/prelegents/adam_dubiel">Adam Dubiel</a></p>
            <p>01.04.2014 - <a href="#/meeting/11">11. Clean code</a> -  <a href="#/prelegents/michal_lipski">Michał Lipski</a></p>
            <p>18.03.2014 - <a href="#/meeting/10">10. JPA 2.0 cz. I</a> -  <a href="#/prelegents/rafal_nagrodzki">Rafał Nagrodzki</a></p>
            <p>04.03.2014 - <a href="#/meeting/9">9. Spring Framework</a> -  <a href="#/prelegents/jakub_nabrdalik">Jakub Nabrdalik</a></p>
            <p>18.02.2014 - <a href="#/meeting/8">8. Mockito - biblioteka do mockowania</a> -  <a href="#/prelegents/marcin_zajaczkowski">Marcin Zajączkowski</a></p>
            <p>04.02.2014 - <a href="#/meeting/7">7. Podstawy testowania</a> -  <a href="#/prelegents/adam_pierzchala">Adam Pierzchała</a></p>
            <p>21.01.2014 - <a href="#/meeting/6">6. Kariera programisty</a> -  wielu prelegentów</p>
            <p>07.01.2014 - <a href="#/meeting/5">5. Guava - JDK na sterydach</a> -  <a href="#/prelegents/piotr_betkier">Piotr Betkier</a></p>
            <p>10.12.2013 - <a href="#/meeting/4">4. IDE</a> -  <a href="#/prelegents/jakub_kubrynski">Jakub Kubryński</a>,  <a href="#/prelegents/krzysztof_nielepkowicz">Krzysztof Nielepkowicz</a></p>
            <p>26.11.2013 - <a href="#/meeting/3">3. GIT - krok po kroku</a> -  <a href="#/prelegents/michal_lewandowski">Michał Lewandowski</a></p>
            <p>12.11.2013 - <a href="#/meeting/2">2. Podstawy warsztatu projektowego</a> - <a href="#/prelegents/adam_chudzik">Adam Chudzik</a></p>
            <p>29.10.2013 - <a href="#/meeting/1">1. Łagodne wprowadzenie do Mavena</a> - <a href="#/prelegents/arkadiusz_konior">Arkadiusz Konior</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="cooperation" scroll-spy="scroll-spy" parallax="0.3" page="1" class="section background-cooperation">
    <div class="centered darkenBox">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h1>Współpraca</h1>
            <p> Podobnie jak w przypadku regularnych spotkań grupy WJUG istnieje możliwość sponsorowania spotkania. W przypadku chęci współpracy w innej formie zachęcamy do zapoznania się z informacją na <a href="http://www.warszawa.jug.pl/#/cooperation">stronie WJUG</a>.</p>
            <h2>sponsorowanie spotkania</h2>
            <p>Przewidujemy możliwość prezentacji firmy-sponsora zainteresowanego reklamą, np. w celach rekrutacyjnych, przy otwarciu spotkania.  Sądzimy, że krótkie wprowadzenie o obszarach działalności firmy i jej oczekiwaniach rynkowych oraz ofert pracy znacząco zwiększa możliwości pozyskania wartościowych pracowników.</p>
            <p>Zakładamy czas 10 minut, który w naszej ocenie jest wystarczający, aby przekazać właściwą dawkę wiedzy nt. firmy przy jednoczesnym utrzymaniu zainteresowania słuchaczy (którzy przede wszystkim przychodzą na spotkanie techniczne i mogliby źle wspominać je wyłącznie po przedłużającym się wstępie firmy).</p>
            <p>Samo otwarcie spotkania jest częścią "pakietu" sponsorskiego. Udział sponsora jest ponadto nagradzany umieszczeniem jego logo i linka do strony domowej sponsora przy zapowiedzi spotkania, wliczając w to późniejsze archiwum spotkań.</p>
            <p>Istnieje również możliwość rozdania ulotek firmowych sponsora podczas spotkania.</p>
            <p>Zwracamy uwagę na tzw. "gęstość informacji". Z przyjemnością poświęcimy kilkanaście minut, żeby dowiedzieć się, czy w danej firmie warto pracować. Nie interesują nas roczne obroty firmy, ale czy ta informacja przekłada sie jakkolwiek na warunki pracy? Ważne są stawki, nadgodziny, czy w okolicy jest dobre jedzenie, czy w godzinach pracy mogę pójść do lekarza lub odebrac dziecko z przedszkola, jaki jest "WTF factor", narzędzia i metodologia pracy, czy mogę pracować z domu, ścieżka kariery, itp.</p>
            <p>Zachęcamy do delegowania osób technicznych na nasze spotkania z czasem wystąpienia nie przekraczającym 10 minut.</p>
            <p>W związku z tym, że nasze spotkania mają dość dobrze określoną grupę docelową prosimy o dostosowanie do niej zarówno ofert jak i sposobu ich prezentacji na początku spotkania.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="partners" scroll-spy="scroll-spy" page="1" class="section background-partners">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h1>Partnerzy grupy</h1>
          </div>
        </div>
        <div class="row">
          <!--naukowi-->
          <div class="span4">
            <p><img src="img/partners/mimuw-logo.png" width="200"/></p>
            <p><img src="img/partners/kni-logo.png" width="200"/></p>
          </div>
        </div>
        <div class="row">
          <!--licencje-->
          <div class="span4">
            <p><a href="http://www.ej-technologies.com/products/jprofiler/overview.html" target="_blank"><img src="img/partners/jprofiler.png" width="200"/></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>