div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 11 Spotkanie
                        h2 Clean Code
                        h3 Michał Lipski
                        p Termin: 01.04.2014, g.18:15
                        p Lokalizacja: MIMUW
                        h3 O prezentacji:
                        p 
                        | Pisanie dobrego kodu to ciężka praca. Potrzeba do tego nie tylko wiedzy o zasadach i paternach. Potrzeba wytrwałości, samozaparcia i wypracowania dobrych nawyków. Tego drugiego nie da się nauczyć - trzeba to "wypocić" pracując nad kodem. 

                        p Na warsztacie kodując wspólnie z uczestnikami skupimy się na zdobyciu tego pierwszego, czyli wiedzy o praktykach tworzenia dobrego kodu w Javie. Na przykładach omówimy zasady, wzorce i najlepsze praktyki pisania czystego kodu. Dowiemy się co to znaczy: DRY, SOLID, KISS, Tell, Don't Ask oraz kilka innych ważnych dla programisty zasad.
                        h3 O prelegencie:
                        include ../prelegent/michal_lipski
