div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 12 Spotkanie
                        h2 Code Metrics
                        h3 Adam Dubiel
                        p Termin: 15.04.2014, g.18:15
                        p Lokalizacja: MIMUW
                        h3 O prezentacji:
                        p 
                        | Co to jest Sonar? Do czego przydaje się złożoność cyklometryczna i LCOM4? Właściwie czemu cykle w pakietach są złe? To akurat te prostsze pytania, na które postaram się odpowiedzieć. O wiele trudniejsze jest dobre interpretowanie i stosowanie wskazówek, jakie dostajemy od narzędzi analizujących nasz kod. A może w ogóle kodu nie da się "zmierzyć"? Gdzie jest granica między pomiarami, które nam pomagają a pompowaniem statystyk?

                        p W ramach prelekcji chciałbym opowiedzieć o popularnych metrykach kodu, na przykładach pokazać jak stosować je w praktyce i porozmawiać o tym, jak nie dać się zwariować z pomiarami.
                        h3 O prelegencie:
                        include ../prelegent/adam_dubiel
