div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 13 Spotkanie
                        h2 JPA 2.0 cz. II
                        h3 Rafał Nagrodzki
                        p Termin: 29.04.2014, g.18:15
                        p Lokalizacja: MIMUW
                        h3 O prezentacji:
                        p 
                        | Co prawda obecnie mamy do czynienia z bardzo prężnym rozwojem w dziedzinie nierelacyjnych baz danych (ruch NoSQL), jednak systemy relacyjne stanowią wciąż silnie zakorzeniony standard. Dostęp do danych relacyjnych w tradycyjny sposób odbywa się poprzez ręczne opracowywanie schematu bazy oraz tworzenie zapytań. Jest to niestety proces dość pracochłonny, żmudny i kłopotliwy w utrzymaniu, zwłaszcza gdy aplikacja się rozrasta. Dlatego warto zainteresować się narzędziami typu ORM, które starają się nam przyjść z pomocą poprzez zautomatyzowanie mapowania między światem obiektowym i relacyjnym. Popularność koncepcji ORM zaowocowała zestandaryzowaniem Javowego API obsługującego trwałość w postaci specyfikacji JPA (Java Persistence API). W ramach prezentacji postaram się dokonać przeglądu JPA oraz zasygnalizować pewne typowe problemy, które można napotkać podczas pisania aplikacji korzystającej z JPA. 
                        h3 O prelegencie:
                        include ../prelegent/rafal_nagrodzki
                        p 
                            <iframe width="853" height="480" src="http://www.youtube.com/embed/7pEdaSVBwxU" frameborder="0" allowfullscreen></iframe>