div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 15 Spotkanie
                        h2 Monitorowanie aplikacji
                        h3 Tomasz Nurkiewicz
                        p Termin: 27.05.2014
                        p Lokalizacja: MiM UW, s. 3180
                        h3 O prezentacji:
                        p 
                        | Podczas prezentacji zapoznamy się z metodami logowania przebiegu pracy naszej aplikacji w Javie. Wyjdziemy od System.out.println() by skończyć na Logbacku i Log4J. Poznamy dobre praktyki, pomocne skrypty i przydatne sztuczki. Szczególny nacisk położymy na logowanie błędów.
                        p
                        | W drugiej części, gdy już nauczymy się jak poprawnie logować działanie naszego kodu, skupimy się na nieocenionych i znienawidzonych jednocześnie... śladach stosu (""stack traces""). Sztuka ich czytania to jedna z najcenniejszych umiejętności podczas poszukiwania źródeł błędów. Zobaczymy wreszcie jak rzut oka na ślad stosu wszystkich wątków pomaga zrozumieć stan naszej aplikacji.
                        h3 O prelegencie:
                        include ../prelegent/tomasz_nurkiewicz

