div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 16 Spotkanie
                        h2 Injectowanie od zera - wprowadzenie do Guice
                        h3 Paweł Cesar Sanjuan Szklarz
                        p Termin: 10.06.2014
                        p Lokalizacja: wkrótce
                        h3 O prezentacji:
                        p 
                        | Przedstawimy wstrzykiwanie zależności (DI) w ujęciu biblioteki Guice, ale celem prezentacji jest zrozumienia na czym polega DI, tak, żeby swobodnie użyć każdego frameworku.
                        p
                        | Zaczniemy od zrozumienia, jaki problem rozwiązujemy używająć DI. Pożniej poznamy podstawowe konstrukcje z Guice i zrobimy proste testy. Porównamy, jak zrobić to samo używając Springa. Następnie zaczniemy używać coraz bardziej zaawansowanych narzędzi: Providers, PrivateModule, Scope, SPI, etc.
                        h3 O prelegencie:
                        include ../prelegent/tomasz_nurkiewicz

