div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 17 Spotkanie
                        h2 Spock
                        h3 Dominik Przybysz
                        p Termin: 24.06.2014
                        p Lokalizacja: MiM UW, s. 3180
                        h3 O prezentacji:
                        p 
                        | Czy można pisać testy bez takich bibliotek jak JUnit, TestNG i festAssert? Mockować bez Mockito? Łapać wyjątki bez catch-exception? Oczywiście, że można. Odpowiedzią jest Spock.
                        p
                        | Podczas prezentacji przyjrzymu się możliwością Spocka w testowaniu kodu javowego i grooviowego. Zobaczymy jak pisać w stylu given-when-then, sprawdząć warunki nie używając słowa "assert", jak zasilać testy danymi, udawać, że mamy zależności testowanego obiektu i pisać testy integracyjne z podniesionym kontekstem springa.
                        h3 O prelegencie:
                        include ../prelegent/dominik_przybysz

