div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 18 Spotkanie
                        p Termin: 21.10.2014
                        p Lokalizacja: MiNI
                        p Sponsor: 
                            a(href='http://www.4financeit.com/', target='_blank'): img(src='img/sponsors/4finance.png', width=200)
                        h2 Maven
                        h3 Paweł Cesar Sanjuan Szklarz
                        h3 O prezentacji:
                        p
                        | Stolarz musi umieć młotka używać, programista javy musi używać maven. Wytłumaczę jak używać mavena, przejdziemy po pełnej dokumentacji a co ważniejsze, opowiem do czego nie używać.
                        p Dokumentację do Mavena można znaleźć 
                            a(href="http://books.sonatype.com/mvnref-book/reference/") tutaj
                        p Link do prezentacji: 
                            a(href="https://docs.google.com/presentation/d/1nZBK5jLg1uGRaPsc7YGZgEfCBMRNvr82R75JTWWu50I/edit?usp=sharing") Maven
                        h3 O prelegencie:
                        include ../prelegent/pawel_cesar_sanjuan_szklarz
                        h2 Gradle
                        h3 Dawid Kublik
                        h3 O prezentacji:
                        p
                        | Na najbliższym wykładzie spróbuje podzielić się swoim rocznym doświadczeniem z technologią poruszając podstawowe zagadnienia takie jak różnice w stosunku do mavena, taski, projekty (single i multi), pluginy, gradle DSL, itd.
                        | W przeciwieństwie od ostatniej prezentacji na WGUG'u - wykład ma celu przedstawienie podstaw i nie wymaga jakiegokolwiek doświadczenia z gradle.
                        | Gwarantujemy niezapomniane emocje.
                        p Linki do prezentacji: 
                            a(href="https://docs.google.com/presentation/d/1GCeo4_zjPBeWWNEobjgRmGzKdtC23mGQp6wg3HzrkVw") slajdy, 
                            a(href="https://github.com/dkublik/jinkubator-basic-gradle-maven-comparison") porównanie mavena i gradle'a
                            |  oraz 
                            a(href="https://github.com/dkublik/jinkubator-gradle-presentation-tutorial") kod do prezentacji.
                        h3 O prelegencie:
                        include ../prelegent/dawid_kublik

