div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 19 Spotkanie
                        h2 TDD
                        h3 Adam Pierzchała
                        p Termin: 4.11.2014
                        p Lokalizacja: MiNI PW
                        p Sponsor: 
                            a(href='http://www.pragmatists.pl/', target='_blank'): img(src='img/sponsors/pragmatists.png', width=200)
                        h3 O prezentacji:
                        p 
                        | Na spotkaniu opowiem o tym w czym i w jaki sposób TDD oraz samo testowanie pomaga w codziennym kodowaniu. Pokażę w jaki sposób pisać testy, jakich błędów unikać oraz jak czerpać z tego frajdę. Powiem też w jaki sposób pisząc mniej można tworzyć więcej i oszczędzać przy tym czas. Będą przykłady, będzie kodowanie i przykłady z życia wzięte.
                        h3 O prelegencie:
                        include ../prelegent/adam_pierzchala