div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 20. Spotkanie
                        h2 Groovy
                        h3 Marcin Grzejszczak
                        p Termin: 2.12.2014
                        p Lokalizacja: MiNI PW
                        p Sponsorzy: 
                            a(href='http://www.4financeit.com/', target='_blank'): img(src='img/sponsors/4finance.jpg', width=220)
                            |   
                            a(href='http://touk.pl/nieustanna-rekrutacja', target='_blank'): img(src='img/sponsors/touk.jpg', width=75)
                        h3 O prezentacji:
                        p Podczas tej prezentacji przedstawię podstawy wspaniałego języka Groovy. Opowiem o jego strukturze, składni i udowodnię, że znając Javę, nauczysz się Grooviego w klika chwil. Wskażę jak najlepiej moim zdaniem wykorzystać moc Groovyego w taki sposób, żeby nie doprowadzić swoich współpracowników do furii, a siebie nie skazać na wieczne potępienie. 
                        p Jeśli nie wiesz nic o Groovym - doskonale, to spotkanie jest właśnie dla Ciebie. Robiłeś coś w Groovym? Jestem przekonany, że dowiesz się paru nowych rzeczy.
                        p Mam nadzieję, ze po tej prezentacji dojdziesz do wniosku, że Groovy jest odpowiedzią na wiekszość Twoich problemów z Javą i stanie się językiem, z którego będziesz korzystać każdego dnia. 
                        h3 O prelegencie:
                        include ../prelegent/marcin_grzejszczak