div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 21. Spotkanie
                        h2 Git
                        h3 Adam Ruka
                        p Termin: 16.12.2014
                        p Lokalizacja: MiNI PW
                        h3 O prezentacji:
                        p Git zrewolucjonizował świat kontroli wersji i jest obecnie zdecydowanie najpopularniejszym narzędziem tego typu. Dlatego dobra jego znajomość w dzisiejszych czasach jest praktycznie obowiązkowa - zarówno w pracy, jak i np. przy kontrybuowaniu do projektów open-source. 
                        p Niestety, Git nie należy do najprostszych narzędzi do nauczenia się dla początkujących, a słaby interfejs command-line nie poprawia sytuacji. Na tym warsztacie mam nadzieję oswoić bestię i pokazać, że nie jest taka straszna, jak ją malują, a daje możliwości nieporównywalne z narzędziami istniejącymi wcześniej. 
                        p Zaczniemy od zilustrowania różnicy pomiędzy tradycyjnymi Version Control Systems a Distributed VCS'ami, takimi jak Git. Postaram się wyjaśnić koncepcje Gitowe poprzez analogie do ich SVNowych odpowiedników, a następnie zademonstruję podstawowy workflow, który powinien wystarczyć w 80% przypadków. Omówimy także narzędzia graficzne oraz integrację z różnymi IDE. 
                        p Następnie pokażę GitHub - najpopularniejszy serwis do hostowania repozytoriów Gitowych, który zrewolucjonizował wspólną pracę nad kodem. Pozostały czas poświęcimy na ostatnie 20% wspomnianego workflow - opowiem o branchach, merge'ach i modelach branchingu, aliasach, remote'ach, co to jest rebase i do czego służy, a także pokażę, jak Git może być używany w innych domenach - np. do deployowania aplikacji w chmurze. 
                        h3 O prelegencie:
                        include ../prelegent/adam_ruka