div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 22. Spotkanie
                        h2 Guava - niezbędnik programisty
                        h3 Piotr Betkier
                        p Termin: 13.01.2015
                        p Lokalizacja: MiNI PW
                        h3 O prezentacji:
                        p Java, pomimo znaczących zmian na plus w wersji 8, wciąż pozostaje językiem dość prymitywnym, z kiepskim API w wielu obszarach JDK. Z odsieczą przychodzi Guava, biblioteka od Googla, która uzupełnia wiele z tych braków pomagając pisać zwięzły i przejrzysty kod. Od lat jest to niezbędnik w arsenale każdego programisty Javowego.
                        p W ramach warsztatów pokażę jakie możliwości daje Guava i jakie problemy rozwiązuje. Będziemy między innymi refaktoryzować przerośnięty kod napisany z samym JDK do czystszej postaci z wykorzystaniem Guavy. Będzie też trochę o JDK 8, które wypełniło kilka luk tradycyjnie wypełnianych Guavą.
                        h3 O prelegencie:
                        include ../prelegent/piotr_betkier