div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 5 Spotkanie
                        h2 Guava - JDK na sterydach
                        h3 Piotr Betkier
                        p Termin: 7.01.2014 18:15
                        p Lokalizacja: MIMUW
                        h3 O prezentacji:
                        p 
                        | Java, pomimo wielu niewątpliwych zalet, jest językiem dość prymitywnym z kiepskim API w wielu miejscach JDK. Z odsieczą przychodzi Guava, biblioteka od Googla, która dodaje brakujące mechanizmy i pozwala pisać zwięzły i przejrzysty kod. Jest to aktualnie niezbędnik w arsenale każdego programisty Javowego.
                        p W ramach warsztatów pokażę jakie możliwości daje Guava i jakie problemy rozwiązuje. Między innymi refaktoryzować będziemy przerośnięty kod napisany w czystym JDK do czystszej postaci z wykorzystaniem Guavy.
                        h3 O prelegencie:
                        include ../prelegent/piotr_betkier

