div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 6 Spotkanie
                        h2 Kariera programisty
                        h3 wielu prelegentów
                        p Termin: 21.01.2014 18:15
                        p Lokalizacja: MIMUW, s. 3180
                        h3 O prezentacji:
                        p 
                        |  Zastanawiałeś się jak pokierować swoją karierę? Co warto zrobić a co jest marnotrawstwem czasu? Jak się uczyć i czego? Jaka praca będzie najlepsza w dłuższej perspektywie?
                        p  
                        |  Ponieważ nie ma prostych odpowiedzi na te pytania, planujemy zrobić spotkanie na którym wystąpi kilku doświadczonych programistów o różnych profilach, np.:
                        ul
                            li
                                | Jedna firma od początku
                            li
                                | Tylko korporacje
                            li
                                | Same małe firmy
                            li
                                | Startupy
                            li
                                | etc..
                        p Na spotkaniu opowiedzą nam oni o rozwoju swojej kariery.
                        p Cel jest taki, żeby dzielić się doświadczeniem i zaplanować karierę na swoją miarę.
                        h3 O prelegencie:
                        p Polak-Meksykanin, Matematyk z wykształcenia. Interesuję się programowaniem funkcyjnym i metodami formalnymi.
                        h3 Goście:
                        ul
                            li
                                | Zbigniew Szymanski
                            li
                                | Damian Szczepanik
                            li
                                | Robert Szarejko
                            li
                                | Jacek Laskowski

