div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 7 Spotkanie
                        h2 Podstawy testowania
                        h3 Adam Pierzchała
                        p Termin: 4.02.2014 18:15
                        p Lokalizacja: MIMUW, s. 5440
                        h3 O prezentacji:
                        p 
                        | Chcesz mieć pewność, że Twój zachowuje się poprawnie? Chcesz aby sprawdzenie, czy nowa funkcjonalność działa nie wymagało przebudowania i uruchomienia całej aplikacji, a zamiast tego trwało kilka sekund? Przyjdź na to spotkanie, a nauczysz się pisać testy, które sprawią, że wprowadzanie zmian do kodu nie będzie się wiązało z bólami głowy i obawą, że się psuje się zachowania w zupełnie innej części systemu. Podczas spotkania będziecie mieli szansę zapoznać się z koncepcjami testów jednostkowych i integracyjnych, mockowania, TDD, oraz podstawowymi bibliotekami do testowania - junit i testng, a jeśli wystarczy czasu - podstawy mockito.

                        h3 O prelegencie:
                        include ../prelegent/adam_pierzchala

