div
    .section(page='1')
        .centered
            .container
                .row
                    .span12
                        h4 8 Spotkanie
                        h2 Mockito - biblioteka do mockowania
                        h3 Marcin Zajączkowski
                        p Termin: 18.02.2014, g. 18:15
                        p Lokalizacja: MIMUW, s. 3180
                        h3 O prezentacji:
                        p 
                        | Bez automatycznych testów jednostkowych bardzo trudno (niemożliwe?) jest zapewnić wysoką jakość tworzonego oprogramowania. Aby testy nie zaczęły nam bardziej przeszkadzać niż pomagać muszą być być łatwe w utrzymaniu, pokrywać możliwie dużo kodu produkcyjnego i jednocześnie bardzo szybko działać. Krótki czas wykonywania najłatwiej uzyskać badając w danym teście tylko wybraną odpowiedzialność jednej klasy. Współpracujące klasy są zastępowane przez dublerów (ang. test doubles), nad którymi sprawujemy pełną kontrolę. Aby robić to efektywnie potrzebne jest dobre narzędzie. I tu na scenę wchodzi Mockito - (IMHO) najlepsza biblioteka do mockowania dla aplikacji napisanych w Javie. 
                        h3 O prelegencie:
                        include ../prelegent/marcin_zajaczkowski
                        h3 Po spotkaniu
                        p 
                            <iframe width="853" height="480" src="http://www.youtube.com/embed/Vi59SCVY0_M" frameborder="0" allowfullscreen></iframe>


