p Programowaniem pasjonuje się od dekady, od kilku lat jego dzień dzieli się na programowanie w pracy i programowanie po pracy. Często uważa, że "to da się zrobić lepiej" i na swoje nieszczęście nie ustaje w poszukiwaniach tego "lepiej". 
p Obecnie programista w Allegro, na co dzień programuje w Java i JavaScript. Cały wolny czas pożera mu rozwój projektów OpenSource.

