p Zawodowo związany z PayU z ramienia którego buduje ogniwo rozwojowe w Warszawie (trzecia głowa smoka). Prywatnie czuje się mocno przywiązany do pakietu java.util.concurrent i klasy sun.misc.Unsafe. Poza tym pasjonują go lekkie aplikacje, w których stosunek kodu do dostarczanej funkcjonalności jest jak najmniejszy.

