
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>13 Spotkanie</h4>
            <h2>JPA 2.0 cz. II</h2>
            <h3>Rafał Nagrodzki</h3>
            <p>Termin: 29.04.2014, g.18:15</p>
            <p>Lokalizacja: MIMUW</p>
            <h3>O prezentacji:</h3>
            <p> </p>Co prawda obecnie mamy do czynienia z bardzo prężnym rozwojem w dziedzinie nierelacyjnych baz danych (ruch NoSQL), jednak systemy relacyjne stanowią wciąż silnie zakorzeniony standard. Dostęp do danych relacyjnych w tradycyjny sposób odbywa się poprzez ręczne opracowywanie schematu bazy oraz tworzenie zapytań. Jest to niestety proces dość pracochłonny, żmudny i kłopotliwy w utrzymaniu, zwłaszcza gdy aplikacja się rozrasta. Dlatego warto zainteresować się narzędziami typu ORM, które starają się nam przyjść z pomocą poprzez zautomatyzowanie mapowania między światem obiektowym i relacyjnym. Popularność koncepcji ORM zaowocowała zestandaryzowaniem Javowego API obsługującego trwałość w postaci specyfikacji JPA (Java Persistence API). W ramach prezentacji postaram się dokonać przeglądu JPA oraz zasygnalizować pewne typowe problemy, które można napotkać podczas pisania aplikacji korzystającej z JPA. 
            <h3>O prelegencie:</h3>
            <p>Pracownik Działu Sieci Komputerowych Uniwersytetu Warszawskiego. Zawodowo zajmuje się integracją systemów, aplikacjami webowymi oraz zagadnieniami związanymi z zarządzaniem tożsamością. Zwolennik Springa oraz oprogramowania rozwijanego pod egidą Apache Software Foundation. Zainteresowany najróżniejszymi zakamarkami ekosystemu Javy przy dość potężnej rozpiętości od ciężkich biznesowych standardów przez frameworki znajdujące zastosowanie w większości aplikacji po współbieżność czy zagadnienia związane z JVM.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>