
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>17 Spotkanie</h4>
            <h2>Spock</h2>
            <h3>Dominik Przybysz</h3>
            <p>Termin: 24.06.2014</p>
            <p>Lokalizacja: MiM UW, s. 3180</p>
            <!-- h3 O prezentacji:-->
            <!-- p -->
            <!-- | Przedstawimy wstrzykiwanie zależności (DI) w ujęciu biblioteki Guice, ale celem prezentacji jest zrozumienia na czym polega DI, tak, żeby swobodnie użyć każdego frameworku.-->
            <!-- p-->
            <!-- | Zaczniemy od zrozumienia, jaki problem rozwiązujemy używająć DI. Pożniej poznamy podstawowe konstrukcje z Guice i zrobimy proste testy. Porównamy, jak zrobić to samo używając Springa. Następnie zaczniemy używać coraz bardziej zaawansowanych narzędzi: Providers, PrivateModule, Scope, SPI, etc.-->
            <!-- h3 O prelegencie:-->
            <!-- include ../prelegent/tomasz_nurkiewicz-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>