
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>17 Spotkanie</h4>
            <h2>Spock</h2>
            <h3>Dominik Przybysz</h3>
            <p>Termin: 24.06.2014</p>
            <p>Lokalizacja: MiM UW, s. 3180</p>
            <h3>O prezentacji:</h3>
            <p> </p>Czy można pisać testy bez takich bibliotek jak JUnit, TestNG i festAssert? Mockować bez Mockito? Łapać wyjątki bez catch-exception? Oczywiście, że można. Odpowiedzią jest Spock.
            <p></p>Podczas prezentacji przyjrzymy się możliwościom Spocka w testowaniu kodu javowego i grooviowego. Zobaczymy jak pisać w stylu given-when-then, sprawdząć warunki nie używając słowa "assert", jak zasilać testy danymi, udawać, że mamy zależności testowanego obiektu i pisać testy integracyjne z podniesionym kontekstem springa.
            <h3>O prelegencie:</h3>
            <p>Większość życia spędził pisząc w javie, ale zdarzało mu się oskryptowywać różne rzeczy w pythonie lub shellu. Ostatnio szczęśliwy użytkownik grooviego. Uwielbia testowanie oraz wszelką automatyzację w procesie wytwarzania oprogramowania. Stara się dbać o czystość kodu (własnego i cudzego) pooprzez częste code review.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>