
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>18 Spotkanie</h4>
            <p>Termin: 21.10.2014</p>
            <p>Lokalizacja: MiNI</p>
            <h2>Maven</h2>
            <h3>Paweł Cesar Sanjuan Szklarz i Dawid Kublik</h3>
            <h3>O prezentacji:</h3>
            <p></p>Stolarz musi umieć młotka używać, programista javy musi używać maven. Wytłumaczę jak używać mavena, przejdziemy po pełnej dokumentacji a co ważniejsze, opowiem do czego nie używać.
            <p></p>Dokumentacja: http://books.sonatype.com/mvnref-book/reference/
            <h3>O prelegencie:</h3>
            <p>Polak-Meksykanin, Matematyk z wykształcenia. Interesuję się programowaniem funkcyjnym i metodami formalnymi. Używam od 5 lat Guice produkcyjnie.</p>
            <h2>Gradle</h2>
            <h3>O prezentacji:</h3>
            <p></p>Na najbliższym wykładzie spróbuje podzielić się swoim rocznym doświadczeniem z technologią poruszając podstawowe zagadnienia takie jak różnice w stosunku do mavena, taski, projekty (single i multi), pluginy, gradle DSL, itd.
            W przeciwieństwie od ostatniej prezentacji na WGUG'u - wykład ma celu przedstawienie podstaw i nie wymaga jakiegokolwiek doświadczenia z gradle.
            Gwarantujemy niezapomniane emocje.
            <h3>O prelegencie:</h3>
            <p>Na co dzień pracuje w 4finance i prawdopodobnie do końca życia budowałby w mavenie gdyby firma nie zmusiła go do przejścia na gradle. Dziś nie żałuje niczego.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>