
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>19 Spotkanie</h4>
            <h2>TDD</h2>
            <h3>Adam Pierzchała</h3>
            <p>Termin: 4.11.2014</p>
            <p>Lokalizacja: MiNI PW</p>
            <p>Sponsor: <a href="http://www.pragmatists.pl/" target="_blank"><img src="img/sponsors/pragmatists.png" width="200"/></a></p>
            <h3>O prezentacji:</h3>
            <p> </p>Na spotkaniu opowiem o tym w czym i w jaki sposób TDD oraz samo testowanie pomaga w codziennym kodowaniu. Pokażę w jaki sposób pisać testy, jakich błędów unikać oraz jak czerpać z tego frajdę. Powiem też w jaki sposób pisząc mniej można tworzyć więcej i oszczędzać przy tym czas. Będą przykłady, będzie kodowanie i przykłady z życia wzięte.
            <h3>O prelegencie:</h3>
            <p>Jestem programistą w firmie Pragmatists, gdzie na co dzień stosuję Test Driven Design, Pair Programming i wiele innych technik zapożyczonych z XP. Interesuję się Domain Driven Design, technikami tworzenia czystego kodu, XP, oraz usprawnianiem pracy zespołów agilowych. Jestem też jednym z organizatorów Jinkubatora.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>