
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>20. Spotkanie</h4>
            <h2>Groovy</h2>
            <h3>Marcin Grzejszczak</h3>
            <p>Termin: 2.12.2014</p>
            <p>Lokalizacja: MiNI PW</p>
            <p>Sponsorzy: <a href="http://www.4financeit.com/" target="_blank"><img src="img/sponsors/4finance.jpg" width="220"/></a>  <a href="http://touk.pl/nieustanna-rekrutacja" target="_blank"><img src="img/sponsors/touk.jpg" width="75"/></a></p>
            <h3>O prezentacji:</h3>
            <p>Podczas tej prezentacji przedstawię podstawy wspaniałego języka Groovy. Opowiem o jego strukturze, składni i udowodnię, że znając Javę, nauczysz się Grooviego w klika chwil. Wskażę jak najlepiej moim zdaniem wykorzystać moc Groovyego w taki sposób, żeby nie doprowadzić swoich współpracowników do furii, a siebie nie skazać na wieczne potępienie. </p>
            <p>Jeśli nie wiesz nic o Groovym - doskonale, to spotkanie jest właśnie dla Ciebie. Robiłeś coś w Groovym? Jestem przekonany, że dowiesz się paru nowych rzeczy.</p>
            <p>Mam nadzieję, ze po tej prezentacji dojdziesz do wniosku, że Groovy jest odpowiedzią na wiekszość Twoich problemów z Javą i stanie się językiem, z którego będziesz korzystać każdego dnia. </p>
            <h3>O prelegencie:</h3>
            <p>Senior Software Developer w 4finance zafascynowany architekturą mikroserwisow i czystym kodem. Kontrybutor do open sourceowych projektow (miedzy innymi Drools, Moco, Mockito, Uptodate Gradle Plugin). Wspolautor rozwiazania @Builder oraz ExternalStrategyBuilder w Groovy. Wspolautor biblioteki Micro-Infra-Spring. Wspolzalozyciel Warszawskiej Grupy Uzytkonikow Grooviego (WGUG).</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>