
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>22. Spotkanie</h4>
            <h2>Guava - niezbędnik programisty</h2>
            <h3>Piotr Betkier</h3>
            <p>Termin: 13.01.2015</p>
            <p>Lokalizacja: MiNI PW</p>
            <h3>O prezentacji:</h3>
            <p>Java, pomimo znaczących zmian na plus w wersji 8, wciąż pozostaje językiem dość prymitywnym, z kiepskim API w wielu obszarach JDK. Z odsieczą przychodzi Guava, biblioteka od Googla, która uzupełnia wiele z tych braków pomagając pisać zwięzły i przejrzysty kod. Od lat jest to niezbędnik w arsenale każdego programisty Javowego.</p>
            <p>W ramach warsztatów pokażę jakie możliwości daje Guava i jakie problemy rozwiązuje. Będziemy między innymi refaktoryzować przerośnięty kod napisany z samym JDK do czystszej postaci z wykorzystaniem Guavy. Będzie też trochę o JDK 8, które wypełniło kilka luk tradycyjnie wypełnianych Guavą.</p>
            <h3>O prelegencie:</h3>
            <p>Na co dzień rozwija backendowe usługi i aplikacje webowe w Allegro, wcześniej szukał bozonu Higgsa w CERN. Przez większość czasu żyje w świecie Javy i JVM, ale chętnie wraca do Pythona. W ramach odskoczni od IT uwielbia aktywny wypoczynek pod każdą postacią.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>