
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>3 Spotkanie</h4>
            <h3>GIT - krok po kroku</h3>
            <h3>Michał Lewandowski</h3>
            <p>Termin: 26.11.2013, 18:15</p>
            <p>Lokalizacja: MIMUW, s. 3180</p>
            <h3>O prezentacji:</h3>
            <p> </p>Bez systemu kontroli wersji ciężko dzisiaj pracować. Na tym spotkaniu JInkubatora przedstawię jeden z kilku systemów kontroli wersji jakim jest git. Będzie to warsztat w stylu od zera do bohatera. Zaczniemy od narzędzi jakie przydają się podczas pracy z git'em, następnie przejdziemy przez podstawowe operacje i dojdziemy do troszeczkę zawansowanych czynności, a zakończymy na git flow.
            <p>Warsztat będzie się składał z kroków:
              <ul>
                <li>tools</li>
                <li>init</li>
                <li>local add, commit</li>
                <li>what add means ?</li>
                <li>git interlnals</li>
                <li>git show</li>
                <li>shortcuts</li>
                <li>amend</li>
                <li>unstage</li>
                <li>unmodifing</li>
                <li>tag</li>
                <li>stash</li>
                <li>bare repo</li>
                <li>remotes</li>
                <li>clone</li>
                <li>branch</li>
                <li>merge</li>
                <li>diff</li>
                <li>clean-up</li>
                <li>fetch</li>
                <li>rebase</li>
                <li>configs</li>
                <li>ignores</li>
                <li>reflogs</li>
                <li>interactive-rebase</li>
                <li>bisect</li>
                <li>revert</li>
                <li>cherry-pick</li>
                <li>gitflow</li>
              </ul>
            </p>
            <h3>O prelegencie:</h3>
            <p>Michał Lewandowski - pracuje w jedynej słusznej (jego zdaniem) firmie, czyli w TouK. Świeżo upieczony absolwent. Na codzień developuje w Javie, z odchyłami w kierunku Grooviego. Po godzinach ciągnie go trochę w kierunku Scali, ale też poza JVM'a. Intrygują go też wszystkie te Adżajlowe praktyki. Zwolennik (ale nie fanatyk) systemu z nadgryzionym jabłkiem, ale wróg JaTelefonów. Jak nie siedzi przy komputerze, ogląda się za dziełami sztuki w formie klasycznej motoryzacji.</p>
            <h3>Po spotkaniu</h3>
            <p>
               
              <iframe width="853" height="480" src="http://www.youtube.com/embed/QrJ5cdX1ir4" frameborder="0" allowfullscreen></iframe>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>