
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>6 Spotkanie</h4>
            <h2>Kariera programisty</h2>
            <h3>wielu prelegentów</h3>
            <p>Termin: 21.01.2014 18:15</p>
            <p>Lokalizacja: MIMUW, s. 3180</p>
            <h3>O prezentacji:</h3>
            <p> </p> Zastanawiałeś się jak pokierować swoją karierę? Co warto zrobić a co jest marnotrawstwem czasu? Jak się uczyć i czego? Jaka praca będzie najlepsza w dłuższej perspektywie?
            <p> </p> Ponieważ nie ma prostych odpowiedzi na te pytania, planujemy zrobić spotkanie na którym wystąpi kilku doświadczonych programistów o różnych profilach, np.:
            <ul>
              <li>Jedna firma od początku</li>
              <li>Tylko korporacje</li>
              <li>Same małe firmy</li>
              <li>Startupy</li>
              <li>etc..</li>
            </ul>
            <p>Na spotkaniu opowiedzą nam oni o rozwoju swojej kariery.</p>
            <p>Cel jest taki, żeby dzielić się doświadczeniem i zaplanować karierę na swoją miarę.</p>
            <h3>O prelegencie:</h3>
            <p>Polak-Meksykanin, Matematyk z wykształcenia. Interesuję się programowaniem funkcyjnym i metodami formalnymi.</p>
            <h3>Goście:</h3>
            <ul>
              <li>Zbigniew Szymanski</li>
              <li>Damian Szczepanik</li>
              <li>Robert Szarejko</li>
              <li>Jacek Laskowski</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>