
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>7 Spotkanie</h4>
            <h2>Podstawy testowania</h2>
            <h3>Adam Pierzchała</h3>
            <p>Termin: 4.02.2014 18:15</p>
            <p>Lokalizacja: MIMUW, s. 5440</p>
            <p>Sponsor: <a href="http://pragmatists.pl" target="_blank"><img src="img/sponsors/pragmatists.png" width="200"/></a></p>
            <h3>O prezentacji:</h3>
            <p> </p>Chcesz mieć pewność, że Twój zachowuje się poprawnie? Chcesz aby sprawdzenie, czy nowa funkcjonalność działa nie wymagało przebudowania i uruchomienia całej aplikacji, a zamiast tego trwało kilka sekund? Przyjdź na to spotkanie, a nauczysz się pisać testy, które sprawią, że wprowadzanie zmian do kodu nie będzie się wiązało z bólami głowy i obawą, że się psuje się zachowania w zupełnie innej części systemu. Podczas spotkania będziecie mieli szansę zapoznać się z koncepcjami testów jednostkowych i integracyjnych, mockowania, TDD, oraz podstawowymi bibliotekami do testowania - junit i testng, a jeśli wystarczy czasu - podstawy mockito.
            <h3>O prelegencie:</h3>
            <p>Jestem Software Developerem w firmie Pragmatists, gdzie na co dzień pracuję stosując zwinne techniki, w tym choćby TDD i Pair Programming. Po godzinach realizuję szalone pomysły związane z automatycznym generowaniem wirtualnych terenów, tworzeniem gier i podbijaniem świata.</p>
            <h3>Po spotkaniu</h3>
            <p>Kod ze spotkania dostępny jest w  <a href="https://bitbucket.org/apierzch/testing-workshop/src" target="_blank">repozytorium</a>, a pretentacja  <a href="http://prezi.com/v93wevd05trm/testowanie-aplikacji-java/?utm_campaign=share&amp;utm_medium=copy">tutaj</a>.</p>
            <p>
               
              <iframe width="853" height="480" src="http://www.youtube.com/embed/dwNVYrMRFDE" frameborder="0" allowfullscreen></iframe>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>