
<div>
  <div page="1" class="section">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>9 Spotkanie</h4>
            <h2>Spring Framework</h2>
            <h3>Jakub Nabrdalik</h3>
            <p>Termin: 04.03.2014, g. 18:15</p>
            <p>Lokalizacja: MIMUW,</p>
            <h3>O prezentacji:</h3>
            <p> </p>Spring Framework jest najpopularniejszym frameworkiem w świecie JVM'a. To znaczy że w ogłoszeniach o pracę w Javie, pojawia się częściej niż cokolwiek innego. I bardzo dobrze, bo w świecie rozwiązań słabych, średnich i dobrych, Spring Framework od wielu lat należy do czołówki najlepszych. Starczy powiedzieć, że nie znam publicznych bibliotek lepiej napisanych niż Spring Framework (patrząc na jakość kodu, prostotę, czytelność, konfigurowalność, nieinwazyjność).
            <p>W ramach WJUG'a prowadzone są cykliczne warsztaty (http://www.meetup.com/Warsaw-Spring-Labs) ze Springa dla początkujących.</p>
            <p>Ale co jeśli nie masz czasu? Co jeśli nie wiesz czy Spring jest biblioteką, którą potrzebujesz? Co jeśli nie wiesz, do czego miałby Ci się przydać? I dlaczego miałbyś się tego uczyć?</p>
            <p>Jeśli nic nie wiesz o Springu, to spotkanie jest właśnie dla Ciebie. Pokażę jak wygląda programowanie ze Springiem, omówię podstawowe koncepcje (DI, AOP), pokażę kilka często wykorzystywanych modułów.</p>
            <p>Po wyjściu ze spotkania, powinieneś już wiedzieć kiedy i do czego przyda Ci się Spring, a także wiedzieć jak go ogólnie użyć. Będzie czas na zadawanie pytań i porady praktyczne. Będzie lekko, łatwo i mam nadzieję, przyjemnie.</p>
            <p>Zapraszam.</p>
            <h3>O prelegencie:</h3>
            <p>Developer, architekt, analityk, team leader, coach, project manager, współorganizator Warszawa Java User Group, Spring Labs, Warsaw Groovy User Group, współautor książki "Spring Security Starter", okazjonalnie speaker. Szczegóły: <a href="http://solidcraft.eu/">solidcraft.eu</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>