
<div id="meetings" scroll-spy="scroll-spy" page="1" class="section background-meetings">
  <div class="centered">
    <div class="container">
      <div class="row">
        <div class="span12">
          <h1>spotkania</h1>
          <p>Aby być na bieżąco, zasubskrybuj nasz<a href="http://www.google.com/calendar/render?cid=7dmp09fjl82d57m3dgu4gj020g@group.calendar.google.com"> kalendarz</a> (wspólny z warszawskim JUGiem).</p>
          <h3>Przed nami:</h3>
          <p>18.03.2014 - <a href="#/meeting/10">10. JPA 2.0 cz. I</a> -  Rafał Nagrodzki</p>
          <p>01.04.2014 - <a href="#/meeting/11">11. Clean code</a> -  Michał Lipski</p>
          <p>15.04.2014 - <a href="#/meeting/12">12. Code metrics</a> -  Adam Dubiel</p>
          <p>29.04.2014 - <a href="#/meeting/13">13. JPA 2.0 cz. II</a> -  Rafał Nagrodzki</p>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          <h3>Za nami:</h3>
          <p>04.03.2014 - <a href="#/meeting/9">9. Spring Framework</a> -  <a href="#/prelegents/jakub_nabrdalik">Jakub Nabrdalik</a></p>
          <p>18.02.2014 - <a href="#/meeting/8">8. Mockito - biblioteka do mockowania</a> -  <a href="#/prelegents/marcin_zajaczkowski">Marcin Zajączkowski</a></p>
          <p>04.02.2014 - <a href="#/meeting/7">7. Podstawy testowania</a> -  <a href="#/prelegents/adam_pierzchala">Adam Pierzchała</a></p>
          <p>21.01.2014 - <a href="#/meeting/6">6. Kariera programisty</a> -  wielu prelegentów</p>
          <p>07.01.2014 - <a href="#/meeting/5">5. Guava - JDK na sterydach</a> -  <a href="#/prelegents/piotr_betkier">Piotr Betkier</a></p>
          <p>10.12.2013 - <a href="#/meeting/4">4. IDE</a> -  <a href="#/prelegents/jakub_kubrynski">Jakub Kubryński</a>,  <a href="#/prelegents/krzysztof_nielepkowicz">Krzysztof Nielepkowicz</a></p>
          <p>26.11.2013 - <a href="#/meeting/3">3. GIT - krok po kroku</a> -  <a href="#/prelegents/michal_lewandowski">Michał Lewandowski</a></p>
          <p>12.11.2013 - <a href="#/meeting/2">2. Podstawy warsztatu projektowego</a> - <a href="#/prelegents/adam_chudzik">Adam Chudzik </a></p>
          <p>29.10.2013 - <a href="#/meeting/1">1. Łagodne wprowadzenie do Mavena</a> - <a href="#/prelegents/arkadiusz_konior">Arkadiusz Konior</a></p>
        </div>
      </div>
    </div>
  </div>
</div>