
<div id="partners" scroll-spy="scroll-spy" page="1" class="section background-partners">
  <div class="centered">
    <div class="container">
      <div class="row">
        <div class="span12">
          <h1>Partnerzy grupy</h1>
        </div>
      </div>
      <div class="row">
        <!--naukowi-->
        <div class="span4">
          <p><img src="img/partners/mimuw-logo.png" width="200"/></p>
        </div>
      </div>
      <div class="row">
        <!--licencje-->
        <div class="span4">
          <p><a href="http://www.ej-technologies.com/products/jprofiler/overview.html" target="_blank"><img src="img/partners/jprofiler.png" width="200"/></a></p>
        </div>
      </div>
    </div>
  </div>
</div>