#meetings.section.background-meetings(scroll-spy, page='1')
    .centered
        .container
            .row
                .span12
                    h1 spotkania
                    p Aby być na bieżąco, zasubskrybuj nasz
                        a(href='http://www.google.com/calendar/render?cid=7dmp09fjl82d57m3dgu4gj020g@group.calendar.google.com')  kalendarz
                        |  (wspólny z warszawskim JUGiem).
                    h3 Przed nami: 
                    p 24.06.2014 - 
                        a(href="#/meeting/18") 18. Maven i Gradle
                        |  -  
                        a(href="#/prelegents/pawel_cesar_sanjuan_szklarz") Paweł Cesar Sanjuan Szklarz
                        | ,  
                        a(href="#/prelegents/dawid_kublik") Dawid Kublik
            .row
                .span12
                    h3 Za nami:
                    p 24.06.2014 - 
                        a(href="#/meeting/17") 17. Spock - przyjemne testowanie
                        |  -  
                        a(href="#/prelegents/dominik_przybysz") Dominik Przybysz
                    p 01.07.2014 - Walne spotkanie WJUG - wszyscy zainteresowani
                    p 11.06.2014 - 
                        a(href="#/meeting/16") 16. Injectowanie od zera - wprowadzenie do Guice
                        |  -  
                        a(href="#/prelegents/pawel_cesar_sanjuan_szklarz") Paweł Cesar Sanjuan Szklarz
                    p 27.05.2014 - 
                        a(href="#/meeting/15") 15. Monitorowanie aplikacji
                        |  -  
                        a(href="#/prelegents/tomasz_nurkiewicz") Tomasz Nurkiewicz
                    p 13.05.2014 - 
                        a(href="#/meeting/14") 14. A journey in MongoDB land
                        |  -  
                        a(href="#/prelegents/tugdual_grall") Tugdual Grall
                    p 29.04.2014 - 
                        a(href="#/meeting/13") 13. JPA 2.0 cz. II
                        |  -  
                        a(href="#/prelegents/rafal_nagrodzki") Rafał Nagrodzki
                    p 15.04.2014 - 
                        a(href="#/meeting/12") 12. Code metrics
                        |  -  
                        a(href="#/prelegents/adam_dubiel") Adam Dubiel
                    p 01.04.2014 - 
                        a(href="#/meeting/11") 11. Clean code
                        |  -  
                        a(href="#/prelegents/michal_lipski") Michał Lipski
                    p 18.03.2014 - 
                        a(href="#/meeting/10") 10. JPA 2.0 cz. I
                        |  -  
                        a(href="#/prelegents/rafal_nagrodzki") Rafał Nagrodzki
                    p 04.03.2014 - 
                        a(href="#/meeting/9") 9. Spring Framework
                        |  -  
                        a(href="#/prelegents/jakub_nabrdalik") Jakub Nabrdalik
                    p 18.02.2014 - 
                        a(href="#/meeting/8") 8. Mockito - biblioteka do mockowania
                        |  -  
                        a(href="#/prelegents/marcin_zajaczkowski") Marcin Zajączkowski
                    p 04.02.2014 - 
                        a(href="#/meeting/7") 7. Podstawy testowania
                        |  -  
                        a(href="#/prelegents/adam_pierzchala") Adam Pierzchała
                    p 21.01.2014 - 
                        a(href="#/meeting/6") 6. Kariera programisty
                        |  -  wielu prelegentów
                    p 07.01.2014 - 
                        a(href="#/meeting/5") 5. Guava - JDK na sterydach
                        |  -  
                        a(href="#/prelegents/piotr_betkier") Piotr Betkier
                    p 10.12.2013 - 
                        a(href="#/meeting/4") 4. IDE
                        |  -  
                        a(href="#/prelegents/jakub_kubrynski") Jakub Kubryński
                        | ,  
                        a(href="#/prelegents/krzysztof_nielepkowicz") Krzysztof Nielepkowicz
                    p 26.11.2013 - 
                        a(href="#/meeting/3") 3. GIT - krok po kroku
                        |  -  
                        a(href="#/prelegents/michal_lewandowski") Michał Lewandowski
                    p 12.11.2013 - 
                        a(href="#/meeting/2") 2. Podstawy warsztatu projektowego
                        |  - 
                        a(href="#/prelegents/adam_chudzik") Adam Chudzik
                    p 29.10.2013 - 
                        a(href="#/meeting/1") 1. Łagodne wprowadzenie do Mavena
                        |  - 
                        a(href="#/prelegents/arkadiusz_konior") Arkadiusz Konior
