#meetings.section.background-meetings(scroll-spy, page='1')
    .centered
        .container
            .row
                .span12
                    h1 spotkania
                    p Aby być na bieżąco, zasubskrybuj nasz
                        a(href='http://www.google.com/calendar/render?cid=7dmp09fjl82d57m3dgu4gj020g@group.calendar.google.com')  kalendarz
                        |  (wspólny z warszawskim JUGiem).
                    h3 Przed nami:
                    p 07.01.2014 - 
                        a(href="#/meeting/5") 5. Guava - JDK na sterydach
                        |  -  Piotr Betkier
                    p 21.01.2014 - 
                        a(href="#/meeting/6") 6. Kariera programisty
                        |  -  wielu prelegentów
                    p 04.02.2014 - 
                        a(href="#/meeting/7") 7. Podstawy testowania
                        |  -  Adam Pierzchała
                    p 18.02.2014 - 
                        a(href="#/meeting/8") 8. Mockito - biblioteka do mockowania
                        |  -  Marcin Zajączkowski
            .row
                .span12
                    h3 Za nami:
                    p 10.12.2013 - 
                        a(href="#/meeting/4") 4. IDE
                        |  -  
                        a(href="#/prelegents/jakub_kubrynski") Jakub Kubryński
                        | ,  
                        a(href="#/prelegents/krzysztof_nielepkowicz") Krzysztof Nielepkowicz
                    p 26.11.2013 - 
                        a(href="#/meeting/3") 3. GIT - krok po kroku
                        |  -  
                        a(href="#/prelegents/michal_lewandowski") Michał Lewandowski
                    p 12.11.2013 - 
                        a(href="#/meeting/2") 2. Podstawy warsztatu projektowego
                        |  - 
                        a(href="#/prelegents/adam_chudzik") Adam Chudzik 
                    p 29.10.2013 - 
                        a(href="#/meeting/1") 1. Łagodne wprowadzenie do Mavena
                        |  - 
                        a(href="#/prelegents/arkadiusz_konior") Arkadiusz Konior
