#partners.section.background-partners(scroll-spy, page='1')
    .centered
        .container
            .row
                .span12
                    h1 Partnerzy grupy
            .row
                //naukowi
                .span4
                    p
                        img(src='img/partners/mimuw-logo.png', width=200)

            .row
                //licencje
                .span4
                    p
                        a(href='http://www.ej-technologies.com/products/jprofiler/overview.html', target='_blank'): img(src='img/partners/jprofiler.png', width=200)
